.features {
  display: flex;
  position: relative;
}

.features_content {
  width: 1140px;
  display: flex;
  margin: auto;
}
.features__colum {
  width: 459px;
}
.features_subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: rgba(0, 155, 77, 1);
  margin: 0;
}
.features_title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin-top: 24px;
  margin-bottom: 0;
}
.features_discreption {
  margin-top: 30px;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 0;
}
.features__advantich_header {
  line-height: 42px;
  display: flex;
  margin-top: 42px;
}
.features__advantich_title {
  font-weight: 700;
  line-height: 26px;
  margin-left: 15px;
  font-size: 22px;
  color: rgba(49, 66, 198, 1);
  margin: 0;
}
.features__advantich-text {
  font-size: 18px;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 3px solid #3142c6;
}
.features__advantich-item {
  border-bottom: 1px solid #2b292d26;
  margin-top: 21px;
  padding-bottom: 22px;
  display: flex;
}
.features__advantich-item-text {
  font-weight: 700;
  line-height: 26px;
  margin-left: 22px;
  margin-left: 15px;
}
.features_left-decoration {
  position: absolute;
  height: 166px;
  top: 258px;
}
.features_buner{
    position: absolute;
right: 0;
box-shadow: rgba(44, 50, 65, 0.08);
}
@media screen and (max-width: 399px) {
    .features {
        display: none;
      }
}