
.footer__links {
    height: 50px;
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  
  }
  
  .footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
  
  }
  
  .footer__line {
    border-top: 1px solid rgba(43, 41, 45, 1);
    width: 100%;
    margin: 0;
  }
  
  .footer__navigation {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  
  }
  
  .terms {
    line-height: 50px;
    font-size: 14px;
  }
  
  .terms__item {
    text-decoration: none;
    color: rgba(43, 41, 45, 0.6);
    margin-right: 22px;
  }
  
  .social-links {
    margin-left: auto;
  
  
  }
  
  .social-links_item {
    margin-left: 20px;
  
  }
 
  .downloads{
    margin-top: 25px;
  }
  .downloads_image{
  margin-right: 10px;
  }
  .about-company{
    margin-top: 44px;
  }
  .addihin-navigation{
    margin-top: 60px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }
  .addihin-navigation_collum{
    margin-right: 29px;
  }
  .nav-links{
    width: 265px;
  }
  .nav-links_title{
    font-size: 22px;
    color: rgba(43, 41, 45, 1);
    font-weight: bold;
    line-height: 28px;
    margin: 0;
    padding: 0;
  
  }
  .nav-links{
    list-style-type: none;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    color: rgba(43, 41, 45, 0.6);
    margin-top: 8px;
  }
  .footer__description{
    display: none;
    line-height: 26px;
    font-size: 18px;
    margin-top: 26px;
    color:  rgba(43, 41, 45, 0.6);
    width: 360px;
  }
  .logo-vertical{
display: flex;
flex-direction: column;
align-items: center;
  }
  .logo-vertica-name{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
text-align: center;
margin-top: 20px;
  }
  .logo-vertica-discription{
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    color:  rgba(43, 41, 45, 0.6);

  }
  .logo-vertica-img{
    width: 60px;
    height: 60px;

  }
  .logo-vertica-name{

  }
  @media screen and (min-width: 400px) {
 .logo-vertical{
   display: none;
 }
 .footer__description{
flex-direction: row;
  display: block;

}
.footer__navigation {
  width: 1140px;
  margin: 0 auto;
  height: 338px;
  display: flex;

}
  }
  @media screen and (max-width: 399px) {
    .footer .logo{
      display: none;
    }
   
     }