@import 'bracpoint.scss';

* {
  box-sizing: border-box;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

}
.square{
  width: 100px;
  height: 100px;
  background-color: #ff7f50;
  margin: 8px;
 
  @include     extra-small-q {
    background-color: #8a2be2;

    }

    @include for-meddium-up{
      background-color: #a61;

    }

   @include for-lart-up{
      background-color: #c47;

    }
}

@media all and (orientation:portrait) {
  .container {
      flex-direction: column;
  }
}