
$sm : 600px;
$md : 900px;
$lg: 1200px;
@mixin extra-small {
    @media screen and (max-width: $sm-1){
        @content;
    }
}
@mixin for-meddium-up {
    @media screen and (min-width: $md) {
        @content;
    }
}
@mixin for-lart-up {
    @media screen and (min-width: $lg) {
        @content;
    }
}