@import 'bracpoint.scss';

* {
  box-sizing: border-box;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.square{
  width: 100px;
  height: 100px;
  background-color: coral;
  margin: 8px;

    @include for-meddium-up{
      background-color: azure;
 
    }

   @include for-lart-up{
      background-color: gold;
    }

}
@media screen and  (orientation:portrait) {
  .container{
      flex-direction: column;
  }
}

