* {
    box-sizing: border-box;
    font-family: monospace;
    font-size: 16px;
    text-transform: uppercase;
}

@keyframes moving {
    from {
        left: 0;
        opacity: 1;
    }
    to {
        left: 70px;
    }
}

@keyframes blinking {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.rect {
    position: relative;
    width: 10px;
    height: 4px;
    border-radius: 2px;
    background-color: black;
    animation: blinking 2s infinite;
    animation: moving 2s infinite;
}

.spinner-text {
    animation: blinking 2s infinite;
}

.spinner {
    position: absolute;
    height: 100vh;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}