* {
    box-sizing: border-box;
}

.container {}

.spinner {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.spinner-text {
    font-family: monospace;
    font-size: 16px;
    text-transform: uppercase;
    animation: bliking 2s infinite linear;
}

@keyframes bliking {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: solid lightgrey 4px;
    margin: 0 auto;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 4px;
    animation: circle 2s infinite linear;
    margin-bottom: 8px;
}

@keyframes circle {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}