* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.block {
    position: absolute;
    animation: move 4s;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    background-color: coral;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes move {
    from {
        top: 100;
    }
    to {
        top: calc(50vh-50px);
    }
}